<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>COLOQUE AQUI SUA API KEY</string>
	<key>apiURL</key>
	<string>https://api.themoviedb.org/3/</string>
	<key>imagesURL</key>
	<string>https://image.tmdb.org/t/p/w1280/</string>
</dict>
</plist>
